{% extends 'base.html.twig' %}

{% block title %}Itinerario index{% endblock %}

{% block body %}
    <h1>Itinerario index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Horasalida</th>
                <th>Horavuelta</th>
                <th>Diasemana</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for itinerario in itinerarios %}
            <tr>
                <td>{{ itinerario.id }}</td>
                <td>{{ itinerario.horasalida ? itinerario.horasalida|date('H:i:s') : '' }}</td>
                <td>{{ itinerario.horavuelta ? itinerario.horavuelta|date('H:i:s') : '' }}</td>
                <td>{{ itinerario.diasemana }}</td>
                <td>
                    <a href="{{ path('itinerario_show', {'id': itinerario.id}) }}">show</a>
                    <a href="{{ path('itinerario_edit', {'id': itinerario.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('itinerario_new') }}">Create new</a>
{% endblock %}
