{% extends 'base.html.twig' %}

{% block title %}Itinerario{% endblock %}

{% block body %}
    <h1>Itinerario</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ itinerario.id }}</td>
            </tr>
            <tr>
                <th>Horasalida</th>
                <td>{{ itinerario.horasalida ? itinerario.horasalida|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Horavuelta</th>
                <td>{{ itinerario.horavuelta ? itinerario.horavuelta|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Diasemana</th>
                <td>{{ itinerario.diasemana }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('itinerario_index') }}">back to list</a>

    <a href="{{ path('itinerario_edit', {'id': itinerario.id}) }}">edit</a>

    {{ include('itinerario/_delete_form.html.twig') }}
{% endblock %}
